<header>
    <div class="upper-header">
        <div class="header-container">
            <a href="/" class="logo-link"><img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre" class="logo-img" /></a>
            <!-- <input type="search" /> -->
            <div class="buscador">
                <form action="/" method="GET">
                    <input type="text" name="buscador" placeholder="Buscar productos, marcas y más"></input>
                    <div><i class="fa fa-search"></i></div>
                </form>
            </div>
        </div>  
        <div class="head-quote">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Ofertas</a>
            </li>
            <li>
                <a href="#">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="#">Vender</a>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i>
            </li>
            <li>
                <a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i>
            </li>
            <li>
                <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
            </li>
        </ul>
    </nav>
    <div class="burger-menu"><i class="fa fa-bars burger"></i></div>
</header>