<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {title: 'Ingresar'}) %>
    <body>
        <%- include('partials/header.ejs') %>
        <main class="login-view">
            <form action="/" method="GET" class="login-form">
                <div class="text-field">
                    <input type="text" name="loginUser" placeholder="Nombre de Usuario" class="input-text">
                </div>
                <div class="text-field">
                    <input type="text" name="loginPassword" placeholder="Contraseña" class="input-text">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </main>
    </body>
</html>