main#formulario-registro {
    background-color: #ebebeb;
    margin-top: 209px;
}

main#formulario-registro form.formularios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
}
main#formulario-registro form.formularios section {
    width: 100%;
}

div.text-field {
    width: 90%;
    margin-bottom: 35px;
    border: 2px solid #bdbdbd;
    border-radius: 0.3rem;
}

input.input-text {
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 0.3rem;
}

section.personal-data, section.addressBirth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

/* Perfil Usuario */

main form.formularios h3 {
    width: 90%;
    align-self: center;
}

main#formulario-registro form.formularios section.userType{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}

main#formulario-registro form.formularios section.userType input {
    width: 20%;
    flex-grow: 0.3;
}

main#formulario-registro form.formularios section.userType label {
    width: 25%;
    flex-grow: 0.7;
}

/* Intereses */

main#formulario-registro form.formularios section.customOptions {
    display: flex;
    flex-direction: column;
    margin: 25px 40px;
}

main#formulario-registro form.formularios section.customOptions div {
    width: 40%;
    display: flex;
    margin-bottom: 35px;
}

main#formulario-registro form.formularios section.customOptions div input {
    align-self: center;
    margin-right: 20px;
}

main#formulario-registro form.formularios section.customOptions div label {
    align-self: center;
}

/* Foto Usuario */

main#formulario-registro form.formularios div.pic-file-container {
    margin-bottom: 25px;
    width: 90%;
    align-self: center;
}

/* Botones */

main#formulario-registro form.formularios div.button-section {
    display: flex;
    justify-content: space-around;
}

main#formulario-registro form.formularios div.button-section button {
    width: 40%;
    background-color: rgb(35, 35, 207);
    color: #ebebeb;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 2px #000;
}

main#formulario-registro form.formularios div.button-section button:hover{
    background-color: #0022AA;
    cursor: pointer;
}