/* 
Paleta de Colores => 

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

 */

 *{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
 }

body {
    font-family: 'Roboto';
    margin: 0;
}

/* Nav bar & Header */

header {
    width: 100%;
    background-color:#EAC926;
}

header div.upper-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

header div.upper-header div.header-container {
    width: 100%;
    display: flex;
    padding-top: 1.5vh;
    /* padding-right: 1.5vh; */
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

header div.upper-header div.header-container img.logo-img {
    width: 50%;
    max-width: 200px;
    /* margin-left: 5vw; */
    margin-right: 30px;

}

header div.upper-header div.header-container div.buscador {
    width: 50%;
    height: 100%;
    max-height: 45px;
    max-width: 600px;
}


header div.upper-header div.header-container div.buscador form {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    align-items: center;
}

header div.upper-header div.header-container div.buscador form input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    color: #666;
    border-radius: 0.2rem;
    text-align: left;
    padding-left: 0.5rem;
    margin: 0;
}

header div.upper-header div.header-container div.buscador form div i {
    /* display: none; */
    background-color: #ffffffa8;
    border: 1px solid #000;
    color: #666;
    padding: 1px;
    border-radius: 2px;
}

header div.upper-header div.head-quote {
    order: 1;
}

header div.upper-header div.head-quote p{
    font-size: 1.2rem;
    text-align: center;
}

header nav {
    display: none;
}

header nav ul {
    margin-bottom: 0px;
    padding: 0;
    margin-bottom: 10px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

header div.burger-menu {
    text-align: center;
}

header div.burger-menu i {
    
    color: #fff;
    background-color: #1259c3;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    margin: 1vh 0 2vh 0;
    border-radius: 5px;
}

/* Wild Banner */
section img.banner-img {
    width: 100%;
}
/* productos & main section */

main {
    /* me rompio el codigo :( */
    margin: 0 auto;
    width: 90vw;
}


main section h2 {
    font-size: 24px;
    margin: 15px 0 30px 0;
}

main section article {
    margin-bottom: 10px;
    margin-left: 10px;
}

main section article div.description {
    padding: 15px;
    border-top: 1px solid #ebebeb;
    text-align: left;;
}

main section article img{
    width: 100%;
}

main section article div {
    position: relative;
    display: flex;
}

main section article div i {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article div.precios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

main section article div.precios p.precio {
    font-size: 18px;
    width: 30%;
}

main section article div.precios p.descuento {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

main section article h3 {
    font-size: 16px;
    opacity: 0.5;
}

/* Footer */

footer article {
    text-align: center;
}

footer article div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer article h3 {
    font-size: 16px;
    margin-bottom: 1px;
    margin-top: 0px;
}

footer article p {
    font-size: 12px;
    margin-top: 1px;
}

footer p.copyright{
    font-size: 12px;
}

/* Tablets */

@media (min-width: 361px) {
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    main section div.products-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

/* Desktops */

@media (min-width: 768px) {

    header div.upper-header {
        flex-wrap: nowrap;
    }

    header div.upper-header div.header-container div.buscador {
        flex-grow: 0.9;
    }

    header div.upper-header div.head-quote {
        flex-grow: 0.2;
    }

    header div.upper-header div.head-quote p {
        font-size: 1rem;
        text-align: right;
        padding-right: 1.5rem;
    }

    header div.burger-menu {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        flex-grow: 0.2;
        justify-content: space-between;
    }

    header nav ul li {
        flex-grow: 0.2;
    }

}

@media (min-width: 1200px) {

    header div.upper-header, header nav {
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }

    header div.upper-header div.header-container {
        width: 72%;
    }

    header div.upper-header div.header-container div.buscador {
        height: 45px;
        flex-grow: 0.7;
    }

    main section article {
        width: 22.5%;
    }
}
